.hero {
    width: 100%;
    padding-top: 6.2rem;
    margin-bottom: var(--space-6xl);
}

.body--glossaire {
    background-color: var(--navyblue);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.citation {
    width: 100%;
    text-align: center;
    font-family: var(--font-important);
    font-size: var(--text-3xl);
    line-height: 1.4;
}

.citation__personne {
    margin-top: var(--space-lg);
    font-family: var(--font-mono);
    font-size: var(--text-2xl);
    text-align: center;
    font-weight: lighter;
    padding-bottom: var(--space-lg)
}

.navyblue__block {
    display: block;
    background-color: var(--navyblue);
    font-size: var(--text-sm);
    font-family: var(--font-mono);
    border-radius: var(--space-lg);
    line-height: 1.2;
    padding: var(--space-lg);
    margin-bottom: var(--space-2xl);
    color: var(--light);
}

.youtube_video {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: var(--space-6xl);
    margin-bottom: var(--space-6xl);
}

.section__title {
    font-family: var(--font-important);
    font-size: var(--text-3xl);
    padding-left: var(--space-lg);
    margin-bottom: var(--space-3xl);
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:focus {
    outline: none;
}

.textmono-title {
    font-family: var(--font-mono);
    font-size: var(--text-base);
    margin-top: var(--space-2xl);
    margin-bottom: var(--space-2xl);
    margin-left: var(--space-lg);
}

.textmono-content {

    font-family: var(--font-mono);
    font-size: var(--text-sm);
    margin-bottom: var(--space-3xl);
    font-weight: lighter;
    margin-left: var(--space-lg);
    margin-right: var(--space-lg);
}

.image__representation {
    margin-top: var(--space-3xl);
    margin-bottom: var(--space-3xl);
}

.info-box {
    background-color: var(--lightpurple);
    border-radius: var(--space-lg);
    padding: var(--space-lg);
    margin-top: var(--space-3xl);
    margin-bottom: var(--space-3xl);
    border-radius: 15% 0%;
}

.info-box__title {
    font-family: var(--font-mono);
    font-size: var(--text-base);
    color: var(--light);
    padding: var(--space-base);
    margin: 0;
    font-weight: lighter;
}

.info-box__content {
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    color: var(--light);
    padding: var(--space-sm);
    margin-top: var(--space-md);
    line-height: 1.2;
}

.info-box__content p {
    margin-bottom: var(--space-sm);
}