.header_logo {
    position: fixed;
    width: 100%;
    margin-bottom: var(--space-6xl);
    z-index: 100;
}

.header_logo-block {
    position: relative;
    width: 100%;
    margin-bottom: var(--space-5xl);
}

.header_logo-image {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block;
}

.header_logo-composant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--navyblue);
    opacity: 0.95;
    display: block;
}

.header_logo-ada {
    position: absolute;
    top: var(--space-3xl);
    left: var(--space-3xl);
    z-index: 3;
}

.header_logo-ada img {
    display: block;
}