.header_logo {
    position: fixed;
    width: 100%;
    margin-bottom: var(--space-6xl);
    z-index: 100;
}

.header_logo-block {
    position: relative;
    width: 100%;
    margin-bottom: var(--space-5xl);
}

.header_logo-image {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block;
}

.header_logo-composant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--navyblue);
    opacity: 0.95;
    display: block;
}

.header_logo-ada {
    position: absolute;
    top: 5.25vw;
    left: 5.25vw;
    z-index: 3;
}

.header_logo-ada img {
    display: block;
    width: 32vw;
    height: auto;
}

.header__title {
    position: fixed;
    top: 5.25vh;
    left: 65%;
    transform: translateX(-50%);
    z-index: 101;
    font-family: var(--font-important);
    font-size: 8.75vw;
    color: var(--gray-200);
    margin: 0;
    font-weight: normal;
}

.header__minititle {
    position: fixed;
    top: var(--space-lg);
    left: 65%;
    transform: translateX(-50%);
    z-index: 101;
    font-family: var(--font-important);
    font-size: 7vw;
    color: var(--gray-200);
    margin: 0;
    font-weight: normal;
}